pandas==2.2.1
numpy==1.26.4
ccxt==4.2.15
python-dotenv==1.0.1
ta==0.11.0
stable-baselines3==2.2.1
tensorboard==2.16.2
pycoingecko==3.1.0
torch==2.2.1
gymnasium==0.29.1
backtrader==1.9.81.142
pyarrow==15.0.0
fastparquet==2024.2.0